$--grey-color-a: #a0a0a0;
$--grey-color-b: #b0b0b0;
$--grey-color-c: #c0c0c0;
$--grey-color-d: #d0d0d0;
$--grey-color-f: #f0f0f0;

:host::ng-deep {
    p-tree .p-tree {
        padding: 0;

        .p-tree-node-content {
            padding: 0;
        }

        .p-tree-empty-message {
            display: none;
        }
    }
}

.card {
    flex: 1 0 auto;
    width: 100%;

    .autocomplete-container {
        position: relative;
        width: 100%;

        .input-wrapper {
            position: relative;

            .search-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }

        .autocomplete-list {
            max-height: 74vh;
            min-height: 70vh;
            overflow-y: auto;
            background-color: white;
            width: 100%;
            margin: 0;
            padding: 0;

            .selected {
                background-color: #007bff;
                color: white;
                font-weight: bold;
            }

            .bg-grey {
                background-color: $--grey-color-f;
            }

            .no-content {
                color: $--grey-color-a;
            }
        }

        .autocomplete-list .item {
            cursor: pointer
        }

        .autocomplete-list .item:hover {
            background-color: #d0d0d0 !important;
        }
    }
}

.btn-transfer {
    background-color: #79808c;
}

.btn-transfer:hover {
    background-color: #0959a0;
}

@media (min-width: 768px) {
    .col-cus-3 {
        width: 25%;
        flex: 1 0 auto;
        display: flex;
    }
}