<div class="container-fluid p-0">
  <h5 class="text-primary font-weight-bold m-2">XEM ẢNH PHƯƠNG TIỆN</h5>

  <div class="row mx-0">
    <div class="col p-0">
      <p-treeselect [(ngModel)]="selectedGroup" [options]="nodeGroups" selectionMode="checkbox" [filter]="true"
        filterPlaceholder="Tìm kiếm" display="chip" placeholder="Chọn nhóm phương tiện"
        (onNodeSelect)="onNodeSelect($event, 'select')" (onNodeUnselect)="onNodeSelect($event, 'unselect')"
        [emptyMessage]="emptyMessage">
      </p-treeselect>
    </div>
    <div class="col">
      <p-select [options]="vehicles" [(ngModel)]="selectedItem" [virtualScroll]="true" [virtualScrollItemSize]="38"
        (onChange)="onChange($event)" placeholder="Danh sách xe" [emptyFilterMessage]="emptyMessage"
        [emptyMessage]="emptyMessage" />
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>