$green-color: #42a948;

:host::ng-deep {
    .p-select {
        border-left: 5px solid $green-color;

        .p-select-option.p-select-option-selected,
        .p-select-option.p-select-option-selected.p-focus {
            background-color: #eaeaea;
            color: black;
            font-weight: 500;
        }
    }

    .p-datepicker>input {
        border-left: 5px solid $green-color;
    }

    .p-datepicker.p-focus>input,
    .p-select:not(.p-disabled).p-focus {
        border: 1px solid $green-color;
        border-left-width: 5px;
    }

    span.p-datepicker {
        min-width: 160px;
        width: 100%;
    }

    .timeonly>span.p-datepicker {
        min-width: 120px;
        width: 100%;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        flex: 0 0 auto;

        .multiple-container {
            min-width: 160px;
            width: 100%;
        }

        .col-custom {
            flex-basis: 0;
            flex-grow: 1;
            max-width: fit-content;
        }
    }

    .content {
        flex: 1 1 auto;
        overflow-y: auto;

        .row-cols-4>* {
            max-width: calc(25% - 6px);
        }

        .row-cols-5>* {
            max-width: calc(20% - 6.4px);
        }

        .row-cols-6>* {
            max-width: calc(16.666667% - 6.7px);
        }

        .pool-image {
            max-height: 100%;
        }
    }

    .footer {
        flex: 0 0 auto;
    }
}