$green-color: #42a948;
$width-default: 15vw;

:host::ng-deep {
    .p-treeselect-label {
        min-width: $width-default;
    }

    .p-tree-node-checkbox {
        display: flex;
    }

    .p-select {
        border-left: 5px solid $green-color;
        // min-width: 17vw;

        .p-select-option.p-select-option-selected,
        .p-select-option.p-select-option-selected.p-focus {
            background-color: #eaeaea;
            color: black;
            font-weight: 500;
        }
    }

    .p-datepicker>input {
        border-left: 5px solid $green-color;

    }

    .p-datepicker.p-focus>input,
    .p-select:not(.p-disabled).p-focus {
        border: 1px solid $green-color;
        border-left-width: 5px;
    }
}

.multiple-container {
    min-width: 8vw;
}