:host {
    min-width: 314px;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;

    .card-body {
        padding: 5px 5px;
    }
    
    .cursor-pointer{
        cursor: pointer;
    }
}

@media (min-width: 1400px) {
    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .justify-content-xxl-end {
        justify-content: flex-end !important;
    }
}